// Core variables and mixins
@import "variables"; // Modify this for custom colors, font-sizes, etc
@import "mixins";

/* Body
-------------------------------------------------- */
html {
	height: 100%;
}

body {
	background-color: white;
	min-height: 100%;
	position: relative;


	#wrap{
		min-height: 810px;
	
	}

	
}

/* Generic Classes -------------------------------------------------- */
a{
		cursor: pointer;
}
.heading{
	padding-bottom: 10px;
}
h3{
	font-weight: normal;
	font-size: 30px;
	color: $grayDarkest;
	margin: 0px;

}
h4{
	font-weight: 500;
}
.btn{
	padding: 10px 10px;
	text-transform:uppercase;
	font-size: 12px;
	letter-spacing: 1px;
}
.subtext{
	color: $grayFade;
}
.small{
	font-size: 12px;
}
b{
	font-weight: 500;
}


/* Navigation -------------------------------------------------- */
#navigation {
	.navbar-inner {
		background: $grayDarkest;
		.container {
			.brand {
				padding-top: 12px;
				padding-right: 15px;
			}
			.social-icons {
				padding-top:15px;
				margin-right: -1px;
				.social {
					padding: 0 3px;
				}
			}
			ul {
				text-transform:uppercase;
				font-size: 12px;
				letter-spacing: 1px;
				li {
					a {
						padding: 22px 0px 0px 0px;
						margin-left: 15px;
						margin-right: 15px;
						color: $grayLight;
						text-shadow: 0.5px 0px $gray;
						line-height: 12px;
						border-bottom: 2px $grayDarkest solid;
						&:hover {
							background:none;
							border-bottom: 2px $blue solid;
						}
					}
					&.active {
						a {
							color:white;
							background: $grayDarkest;
							border-bottom: 2px $blue solid;
						}
					}
				}
				.divider-vertical{
					height:100%;
					border-left: 1px black solid;
					border-right:1px $grayDark solid;
				}
			}
		}
	}
}

/* Search -------------------------------------------------- */
#searchbar{
	background: $grayLighter;
	border-bottom: 1px solid $grayMedium;

	.search{
		margin-top: -10px;

		label{
			display: none;
		}

		form{
			margin-bottom: 10px;
		}

		.mglass{
			position: relative;
			margin-bottom: -62px;
			margin-left: 5px;
			margin-top: 0px;

		}

		fieldset{
			width: 85%;
			display:inline-block;
		}
		#Search{
			display:inline-block;
			width: 80%;
			margin-right: 0px;
			input{
				width: 90%;
				height:35px;
				border: none;
				box-shadow: 0px 2px 2px  $grayLight inset;
				padding-left: 40px;

			}
			::-webkit-input-placeholder { 
				    color:    $grayDark;
				}
			:-moz-placeholder { 
			    color:    $grayDark;
			}
			::-moz-placeholder {
			    color:    $grayDark;
			}
			:-ms-input-placeholder { 
			    color:    $grayDark;
			}
		}
		#CustomSearchForm_CustomSearchForm_action_customResults{

			display: inline-block;
			width:77px;
			padding: 5px 10px;
			
		
			height:43px;
			text-transform:uppercase;
			font-size: 12px;
			letter-spacing: 1px;
				
				
			
		}
	}

	.logo{
		text-align: right;
		padding-top: 15px;
	}
}

/*Footer -------------------------------------------------- */
#footer{
	width: 100%;
	background: $gray;
	position: relative;

	.container{
		padding: 30px 20px 70px 20px;
		padding-top: 30px;
		padding-bottom: 70px;

		ul{
			list-style-type: none;
			margin: 0px;
			li{
				padding:3px;
				a{
					color: $white;
					font-weight: 100;
					font-size: 13px;
					letter-spacing: 1px;
					text-shadow: 0px -2px 1px $grayDarkest;
				}

				.social{
					padding-right: 5px;
				}

			}
		}

		.logo{
			text-align: right;
		}

		.website{
			span{
				margin-top: 0px;
				color: white;
				font-weight: 400;
			}
			a{
				color: white;
				font-weight: 100;
				letter-spacing:1px;
				text-decoration: underline;
			}
		}
	}
}

/*HomePage -------------------------------------------------- */
#HomePage{	
	.content{
		padding-top: 50px;
		padding-bottom: 50px;
		
		.text{
			color: $grayDarkest;
			font-size: 35px;
			line-height: 35px;
		}
	}
	.twitter{
		margin-bottom: 50px;
		border: 1px solid $grayMedium;
	}
	.speakers{
		padding-bottom: 50px;
		.link{
			text-align: right;
			padding-top: 20px;
			text-decoration: underline;	

		}
	}

	.tags-wrap{

		margin-bottom: 40px;
		border: 1px $grayMedium solid;
		
		background: $grayLighter;
		min-height: 100px;

		.tags{
			h5{
			font-size: 16px;
			color: $grayDarkest;
			}
			padding: 10px;
		}


		a{
			text-decoration: none;
		}
	}
}

/*SessionsHolder -------------------------------------------------- */
#SessionsHolder{

	#wrap{
		background: $grayLighter;
	}

	.sessions{
		background: white;
		border: 1px $grayMedium solid;
		margin-left: 9px;
		padding-left: 20px;
		padding-right: 20px;
		background: white;
		border-top: 1px $grayMedium solid;
		padding-top: 30px;
		height:100%;

		.heading{
			padding-left: 10px;
		}
		.more{
			display:none;
			.button{
				text-align: center;
				a{
					width: 90px;
				}
			}
		}

	}
	.filter{

		padding-top: 20px;
		background: $grayLighter;
		margin-left: -46%;
		padding-left: 46%;
		margin-right: -10%;

		h5{
			color: $blue;
			font-size:15px;
			}

		form{

			label{
				font-weight: bold;
			}

			input{
				
			}

			ul{
				list-style-type: none;

				input{
					margin-top: 0px;

				}

				label{

					font-weight: normal;
					display:inline-block;
				}
			}
			
			.Actions{
				input{
					height:43px;
					text-transform:uppercase;
					font-size: 12px;
					letter-spacing: 1px;	
				}
			}
		}
	}
	.tags{
		padding-bottom: 30px;
	}
	
  /*Search Bar Styling */
	#searchbar{	
		border: none;
		.mglass{
			margin-left: -5px;
		}
		form{
			margin-left: -10px;
		}
		.logo{
			margin-left: 5px;
		}
	}
}

/*Sessions -------------------------------------------------- */
.sessions{
		padding-bottom: 50px;

		.link{
			text-align: right;
			padding-top: 10px;	
			
			.btn{
				color:white;
			}		
		}
		.session-tile{
			padding: 0px;
			padding-bottom: 0px;
			border: 1px solid $grayMedium;
			margin-bottom: 20px;
		

			.vidthumb{
				padding: 4px;
				height: 100%;
				.thumb{
					position: relative;
					margin-top: -40px;
					top: 0px;
				
				}
				
				.icon{
					position: relative;
					z-index: 1;
					top: 0px;
					left: 10px;
				}
			}

			.text-wrap{
				padding: 4px;
				margin: 5px;
				
				.title{
					color: $grayDarkest;
					font-size: 14px;
				}

				p{
					padding: 0;
					margin: 0;
				}
				a{
					color:$blueLight;	
				}
			}

			.tags{
				font-size: 13px;
				background: $grayLighter;
				padding:7px;
			}
		}
	}
/* session controller --------------------------------------------------*/
#ses-wrap{
	padding-top: 30px;

	.main{
		div{
			padding-bottom: 20px;
		}
		h5{
			font-size: 16px;
		}

		.content{
			h5{
				color: $blue
			}
		}
		
		p{
			padding-bottom: 10px;
		}
	}

	.video{
		height: 300px;
		
	}

	.session-side{
		a{
			text-decoration: underline;
		}
		div{
			padding-bottom: 5px;
		}
	}
}




/* meetings holder -------------------------------------------------- */
#MeetingsHolder {
	.promo {
		background: $grayLighter;
		border: 1px solid $grayMedium;
		@include border-radius(0);
		margin-top: 30px;
		margin-bottom: 20px;

		.dark {
			background-color: $grayMedium;
		}
	}

	

	#meetings-wrap{
		padding-top: 30px;
		padding-bottom: 100px;

		.first{
			margin-left: 0px;
		}
		.span3{
			margin-bottom: 30px;
		}

		a{
			.text-wrap{
				padding:10px;
				h4{
					color: black;
					
				}
			}
		}
		a:hover{
			text-decoration: none;
		}

		
	}
}

/* meeting -------------------------------------------------- */
#MeetingController {

	h5{
		font-size: 16px;
		color: $grayDarkest;
	}

	.header{
		
		padding-top: 30px;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

	.tags-wrap{
		margin-bottom: 0px;
		border: 1px $grayMedium solid;
		border-bottom: none;
		background: $grayLighter;
		min-height: 100px;

		.tags{
			padding: 10px;
		}


		a{
			text-decoration: none;
		}
	}
	.ses{
		padding-top: 10px;
	}

	.links{
		
		margin-bottom: 10px;
		border: 1px $grayMedium solid;
		
		.section{
			padding: 10px;
			height: 95px;
			margin-left: 10px;
			
		}

		.right-divide{
			
			border-right: 1px $grayMedium solid;
		}
	
		a{
			text-decoration: underline;
		}
		
	}

	#speakers-wrap {
		.thumbnail > img {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

/* thumbnails -------------------------------------------------- */
.thumbnails{
	margin-left: 0px;
}
.thumbnail {
	@include border-radius(0);
	text-decoration: none;
}

/* Search Results */

.searchResults{
	.results{
		border-bottom: 1px solid $grayLight;
		margin-bottom: 10px;
		padding-bottom: 10px;
		h3{
			padding-bottom: 10px;
		}
		ul{
			list-style-type: none;
			li{
				margin-bottom: 10px;
				margin-right:  20px;
				padding-bottom: 5px;
				border-bottom: 1px solid $grayLight;
				a{
					font-size: 16px;
				}
			}
		}
	}
}

/*Responsiveness -------------------------------------------------- */

@media (min-width: 1200px) {

	#SessionsHolder{
		#searchbar{	
			border: none;
			.search{
				.mglass{
					margin-left: -15px;
				}
				form{
					margin-left: -20px;
				}
			}
			.logo{
				margin-left: 5px;
			}
		}
	}
}

@media (max-width: 767px) {
	body{
		padding: 0px;

		#wrap{
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	#footer{
		.container{
			padding-left: 20px;
			padding-right: 20px;
		}
	}



	#navigation {
		.navbar-inner {
			.container {
				.btn-navbar{
					margin-top: 10px;
				}
				.social-icons{
					display:none !important;
				}	
			}
		}
	}

	#SessionsHolder{
		#searchbar{
		
			.search{
				.mglass{
					margin-left: 15px;
				}
			}

		}
	}

	#searchbar{
		/*width: 100%;*/
		margin-left: -20px;
		margin-right: -20px;

		.logo{
			width: 10%;
			display: none;
		}
		.search{
			fieldset{
				width:100%;
			}
			.mglass{
				margin-left: 25px;
			}
			#Search{
				padding-left: 20px;
				width: 70%;
				
				input{
					width:70%;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 979px) {

	#HomePage{
		.content{
			.span1{
				padding-top: 30px;
			}
			.text{
				padding: 10px;

			}
		}
	}

	#SessionsHolder{
		#Form_FilterForm{
			select{
				width:75%;
			}
			#Form_FilterForm_Speaker{
				width: 75%;
			}
		}

	}

	#navigation {
		.navbar-inner {
			.container {
				.btn-navbar{
					margin-top: 10px;
				}
				.social-icons{
					display:none !important;
				}	
			}
		}
	}

	#searchbar{
		.search{
			fieldset{
				width: 100%;
				#Search{
					display: inline-block;
					width: 80%;
					input{
						width:85%;
					}
				}
			}
			#CustomSearchForm_CustomSearchForm_action_customResults{
				
			}

		}
	}
}