/* Body
-------------------------------------------------- */
html { height: 100%; }

body { background-color: white; min-height: 100%; position: relative; }

/* Navigation -------------------------------------------------- */
#navigation { height: 55px; }
#navigation .navbar-inner { height: 100%; background: #303030; }
#navigation .navbar-inner .container { height: 100%; }
#navigation .navbar-inner .container .brand { padding-top: 12px; padding-right: 15px; }
#navigation .navbar-inner .container .social-icons { padding-top: 15px; margin-right: -1px; float: right; }
#navigation .navbar-inner .container .social-icons .social { padding-left: 3px; padding-right: 3px; }
#navigation .navbar-inner .container ul { height: 100%; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
#navigation .navbar-inner .container ul li a { padding: 22px 0px 0px 0px; margin-left: 15px; margin-right: 15px; color: #e0e0e0; text-shadow: 0.5px 0px #696b6f; line-height: 12px; }
#navigation .navbar-inner .container ul li.active a { color: white; background: #303030; border-bottom: 2px #359bfc solid; }
#navigation .navbar-inner .container ul .divider-vertical { height: 100%; border-left: 1px black solid; border-right: 1px #535353 solid; }

/* Search -------------------------------------------------- */
#searchbar { background: #f3f3f3; border-bottom: 1px solid #d8d8d8; }
#searchbar .search { margin-top: -10px; }
#searchbar .search label { display: none; }
#searchbar .search form { margin-bottom: 10px; }
#searchbar .search .mglass { position: relative; margin-bottom: -62px; margin-left: 5px; margin-top: 0px; }
#searchbar .search fieldset { width: 77%; display: inline-block; }
#searchbar .search #Search { width: 100%; }
#searchbar .search #Search input { width: 90%; height: 35px; border: none; box-shadow: 0px 2px 2px #e0e0e0 inset; padding-left: 40px; }
#searchbar .search #Search ::-webkit-input-placeholder { color: #535353; }
#searchbar .search #Search :-moz-placeholder { color: #535353; }
#searchbar .search #Search ::-moz-placeholder { color: #535353; }
#searchbar .search #Search :-ms-input-placeholder { color: #535353; }
#searchbar .search .Actions { display: inline-block; width: 15%; padding-left: 17px; }
#searchbar .search .Actions input { height: 43px; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
#searchbar .logo { text-align: right; padding-top: 10px; }

/*Footer -------------------------------------------------- */
#footer { width: 100%; background: #696b6f; position: relative; }
#footer .container { padding-top: 30px; padding-bottom: 70px; }
#footer .container ul { list-style-type: none; margin: 0px; }
#footer .container ul li { padding: 3px; }
#footer .container ul li a { color: white; font-weight: 100; font-size: 13px; letter-spacing: 1px; text-shadow: 0px -2px 1px #303030; }
#footer .container ul li .social { padding-right: 5px; }
#footer .container .logo { text-align: right; }
#footer .container .website span { margin-top: 0px; color: white; font-weight: 400; }
#footer .container .website a { color: white; font-weight: 100; letter-spacing: 1px; text-decoration: underline; }

/*HomePage -------------------------------------------------- */
#HomePage #homepage h3 { font-weight: normal; font-size: 30px; color: #303030; margin: 0px; }
#HomePage #homepage .content { padding-top: 50px; padding-bottom: 50px; }
#HomePage #homepage .content .social div { padding-top: 5px; padding-bottom: 5px; }
#HomePage #homepage .content .social .fb-like { padding-left: 4px; }
#HomePage #homepage .content .text { color: #303030; font-size: 35px; line-height: 35px; }
#HomePage #homepage .twitter { margin-bottom: 50px; border: 1px solid #d8d8d8; }
#HomePage #homepage .speakers { padding-bottom: 50px; }
#HomePage #homepage .speakers .heading { padding-bottom: 10px; }
#HomePage #homepage .speakers .heading .link { text-align: right; padding-top: 20px; text-decoration: underline; }

/*SessionsHolder -------------------------------------------------- */
#SessionsHolder #wrap { background: #f3f3f3; }
#SessionsHolder #filter-wrap { height: 100%; }
#SessionsHolder #sessionholder #session-wrap { background: white; border-left: 1px #d8d8d8 solid; margin-left: 9px; }
#SessionsHolder #sessionholder .sessions { background: white; padding-top: 30px; height: 100%; }
#SessionsHolder #sessionholder .sessions .heading { padding-left: 10px; }
#SessionsHolder #sessionholder .filter { padding-top: 20px; background: #f3f3f3; margin-left: -46%; padding-left: 46%; margin-right: -10%; }
#SessionsHolder #sessionholder .filter form #Text input { width: 50%; }
#SessionsHolder #sessionholder .filter form .Actions input { height: 43px; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
#SessionsHolder #searchbar .logo { text-align: left; }

/*Sessions -------------------------------------------------- */
.sessions { padding-bottom: 50px; }
.sessions h3 { font-weight: normal; font-size: 30px; color: #303030; margin: 0px; }
.sessions .heading { padding-bottom: 10px; }
.sessions .heading .link { text-align: right; padding-top: 10px; }
.sessions .heading .link .btn { color: white; padding: 10px 10px; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
.sessions .ses span3 { margin: 5px; }
.sessions .session-tile { border: 1px solid #d8d8d8; margin-bottom: 20px; }
.sessions .session-tile .video { margin: 3px; }
.sessions .session-tile .text-wrap { margin: 5px; }
.sessions .session-tile .text-wrap .title { font-weight: bold; }
.sessions .session-tile .text-wrap .location { color: #696b6f; font-size: 12px; }
.sessions .session-tile .text-wrap .location a { color: #42a1fc; }
.sessions .session-tile .text-wrap .date { color: #696b6f; font-size: 12px; font-weight: 500; }
.sessions .session-tile .text-wrap .tags { padding-top: 10px; color: #696b6f; font-size: 13px; font-weight: 500; }
.sessions .session-tile .text-wrap .tags a { font-weight: normal; }

/*Responsiveness -------------------------------------------------- */
@media (max-width: 979px) { #searchbar .search #Search input { width: 75%; }
  #searchbar .search .Actions { width: 19%; } }
