/* Body
-------------------------------------------------- */
html { height: 100%; }

body { background-color: white; min-height: 100%; position: relative; }

/* Generic Classes -------------------------------------------------- */
a { cursor: pointer; }

.heading { padding-bottom: 10px; }

h3 { font-weight: normal; font-size: 30px; color: #303030; margin: 0px; }

h4 { font-weight: 500; }

.btn { padding: 10px 10px; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }

.subtext { color: #919294; }

.small { font-size: 12px; }

b { font-weight: 500; }

/* Navigation -------------------------------------------------- */
#navigation .navbar-inner { background: #303030; }
#navigation .navbar-inner .container .brand { padding-top: 12px; padding-right: 15px; }
#navigation .navbar-inner .container .social-icons { padding-top: 15px; margin-right: -1px; }
#navigation .navbar-inner .container .social-icons .social { padding: 0 3px; }
#navigation .navbar-inner .container ul { text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
#navigation .navbar-inner .container ul li a { padding: 22px 0px 0px 0px; margin-left: 15px; margin-right: 15px; color: #e0e0e0; text-shadow: 0.5px 0px #696b6f; line-height: 12px; }
#navigation .navbar-inner .container ul li a:hover { border-bottom: 2px #359bfc solid; }
#navigation .navbar-inner .container ul li.active a { color: white; background: #303030; border-bottom: 2px #359bfc solid; }
#navigation .navbar-inner .container ul .divider-vertical { height: 100%; border-left: 1px black solid; border-right: 1px #535353 solid; }

/* Search -------------------------------------------------- */
#searchbar { background: #f3f3f3; border-bottom: 1px solid #d8d8d8; }
#searchbar .search { margin-top: -10px; }
#searchbar .search label { display: none; }
#searchbar .search form { margin-bottom: 10px; }
#searchbar .search .mglass { position: relative; margin-bottom: -62px; margin-left: 5px; margin-top: 0px; }
#searchbar .search fieldset { width: 77%; display: inline-block; }
#searchbar .search #Search { width: 100%; }
#searchbar .search #Search input { width: 90%; height: 35px; border: none; box-shadow: 0px 2px 2px #e0e0e0 inset; padding-left: 40px; }
#searchbar .search #Search ::-webkit-input-placeholder { color: #535353; }
#searchbar .search #Search :-moz-placeholder { color: #535353; }
#searchbar .search #Search ::-moz-placeholder { color: #535353; }
#searchbar .search #Search :-ms-input-placeholder { color: #535353; }
#searchbar .search .Actions { display: inline-block; width: 15%; padding-left: 17px; }
#searchbar .search .Actions input { height: 43px; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
#searchbar .logo { text-align: right; padding-top: 10px; }

/*Footer -------------------------------------------------- */
#footer { width: 100%; background: #696b6f; position: relative; }
#footer .container { padding-top: 30px; padding-bottom: 70px; }
#footer .container ul { list-style-type: none; margin: 0px; }
#footer .container ul li { padding: 3px; }
#footer .container ul li a { color: white; font-weight: 100; font-size: 13px; letter-spacing: 1px; text-shadow: 0px -2px 1px #303030; }
#footer .container ul li .social { padding-right: 5px; }
#footer .container .logo { text-align: right; }
#footer .container .website span { margin-top: 0px; color: white; font-weight: 400; }
#footer .container .website a { color: white; font-weight: 100; letter-spacing: 1px; text-decoration: underline; }

/*HomePage -------------------------------------------------- */
#HomePage .content { padding-top: 50px; padding-bottom: 50px; }
#HomePage .content .text { color: #303030; font-size: 35px; line-height: 35px; }
#HomePage .twitter { margin-bottom: 50px; border: 1px solid #d8d8d8; }
#HomePage .speakers { padding-bottom: 50px; }
#HomePage .speakers .link { text-align: right; padding-top: 20px; text-decoration: underline; }

/*SessionsHolder -------------------------------------------------- */
#SessionsHolder { /*Search Bar Styling */ }
#SessionsHolder #wrap { background: #f3f3f3; }
#SessionsHolder .sessions { background: white; border: 1px #d8d8d8 solid; margin-left: 9px; padding-left: 20px; padding-right: 20px; background: white; border-top: 1px #d8d8d8 solid; padding-top: 30px; height: 100%; }
#SessionsHolder .sessions .heading { padding-left: 10px; }
#SessionsHolder .sessions .button { text-align: center; }
#SessionsHolder .filter { padding-top: 20px; background: #f3f3f3; margin-left: -46%; padding-left: 46%; margin-right: -10%; }
#SessionsHolder .filter h5 { color: #359bfc; font-size: 15px; }
#SessionsHolder .filter form label { font-weight: bold; }
#SessionsHolder .filter form ul { list-style-type: none; }
#SessionsHolder .filter form ul input { margin-top: 0px; }
#SessionsHolder .filter form ul label { font-weight: normal; display: inline-block; }
#SessionsHolder .filter form .Actions input { height: 43px; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
#SessionsHolder .tags { padding-bottom: 30px; }
#SessionsHolder #searchbar { border: none; }
#SessionsHolder #searchbar .mglass { margin-left: -5px; }
#SessionsHolder #searchbar form { margin-left: -10px; }
#SessionsHolder #searchbar .logo { margin-left: 5px; }

/*Sessions -------------------------------------------------- */
.sessions { padding-bottom: 50px; }
.sessions .link { text-align: right; padding-top: 10px; }
.sessions .link .btn { color: white; }
.sessions .session-tile { padding: 0px; padding-bottom: 0px; border: 1px solid #d8d8d8; margin-bottom: 20px; }
.sessions .session-tile .video { padding: 4px; height: 150px; max-height: 150px; }
.sessions .session-tile .text-wrap { padding: 4px; margin: 5px; }
.sessions .session-tile .text-wrap .title { color: #303030; font-size: 14px; }
.sessions .session-tile .text-wrap p { padding: 0; margin: 0; }
.sessions .session-tile .text-wrap a { color: #42a1fc; }
.sessions .session-tile .tags { font-size: 13px; background: #f3f3f3; padding: 7px; }

/* session controller --------------------------------------------------*/
#ses-wrap { padding-top: 30px; }
#ses-wrap .main div { padding-bottom: 20px; }
#ses-wrap .main h5 { font-size: 16px; }
#ses-wrap .main .content h5 { color: #359bfc; }
#ses-wrap .main p { padding-bottom: 10px; }
#ses-wrap .video { height: 300px; }
#ses-wrap .session-side a { text-decoration: underline; }
#ses-wrap .session-side div { padding-bottom: 5px; }

/* meetings holder -------------------------------------------------- */
#MeetingsHolder .promo { background: #f3f3f3; border: 1px solid #d8d8d8; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin-top: 30px; margin-bottom: 20px; }
#MeetingsHolder .promo .dark { background-color: #d8d8d8; }
#MeetingsHolder #meetings-wrap { padding-top: 30px; padding-bottom: 100px; }
#MeetingsHolder #meetings-wrap a .text-wrap { padding: 10px; }
#MeetingsHolder #meetings-wrap a .text-wrap h4 { color: black; }
#MeetingsHolder #meetings-wrap a:hover { text-decoration: none; }

/* meeting -------------------------------------------------- */
#MeetingController .header { border-bottom: 1px #d8d8d8 solid; padding-top: 30px; padding-bottom: 10px; margin-bottom: 10px; }
#MeetingController .links { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px #d8d8d8 solid; }
#MeetingController .links a { text-decoration: underline; }
#MeetingController .links .social { padding-top: 10px; }
#MeetingController #speakers-wrap .thumbnail > img { margin-left: 0; margin-right: 0; }

/* thumbnails -------------------------------------------------- */
.thumbnails { margin-left: 0px; }

.thumbnail { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; text-decoration: none; }

/*Responsiveness -------------------------------------------------- */
/*  Responsive: Large desktop and up*/
@media (min-width: 1200px) { video { height: 160px; max-height: 160px; width: 260px; }
  #SessionsHolder #searchbar { border: none; }
  #SessionsHolder #searchbar .search .mglass { margin-left: -15px; }
  #SessionsHolder #searchbar .search form { margin-left: -20px; }
  #SessionsHolder #searchbar .logo { margin-left: 5px; } }
@media (max-width: 767px) { #navigation .navbar-inner .container .social-icons { display: none !important; }
  #searchbar .logo { width: 10%; display: none; }
  #searchbar .search { width: 100%; }
  #searchbar .search fieldset { width: 60%; }
  #searchbar .search .mglass { margin-left: 25px; }
  #searchbar .search #Search { padding-left: 20px; width: 90%; margin-right: 20px; }
  #searchbar .search #Search input { width: 90%; }
  #searchbar .search #Search ::-webkit-input-placeholder { display: none; }
  #searchbar .search #Search :-moz-placeholder { display: none; }
  #searchbar .search #Search ::-moz-placeholder { display: none; }
  #searchbar .search #Search :-ms-input-placeholder { display: none; }
  #searchbar .search .Actions { width: 19%; float: right; margin-right: 30px; } }
@media (min-width: 768px) and (max-width: 979px) { #navigation .navbar-inner .container .social-icons { display: none !important; }
  #searchbar .search #Search input { width: 75%; }
  #searchbar .search .Actions { width: 19%; } }
