/* Body
-------------------------------------------------- */
html { height: 100%; }

body { background-color: white; min-height: 100%; position: relative; }
body #wrap { min-height: 810px; }

/* Generic Classes -------------------------------------------------- */
a { cursor: pointer; transition: all 0.2s linear; }

.heading { padding-bottom: 10px; }

h3 { font-weight: normal; font-size: 30px; color: #303030; margin: 0px; }

h4 { font-weight: 500; }

.btn { padding: 10px 10px; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }

.subtext { color: #919294; }

.small { font-size: 12px; }

b { font-weight: 500; }

/* Navigation -------------------------------------------------- */
#navigation .navbar-inner { background: #303030; }
#navigation .navbar-inner .container .brand { padding-top: 12px; padding-right: 15px; padding-bottom: 16px; }
#navigation .navbar-inner .container .social-icons { padding-top: 15px; margin-right: -1px; }
#navigation .navbar-inner .container .social-icons .social { padding: 0 3px; }
#navigation .navbar-inner .container ul { text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
#navigation .navbar-inner .container ul li a { padding: 22px 0px 0px 0px; margin-left: 15px; margin-right: 15px; color: #e0e0e0; text-shadow: 0.5px 0px #696b6f; line-height: 12px; border-bottom: 2px #303030 solid; }
#navigation .navbar-inner .container ul li a:hover { background: none; border-bottom: 2px #359bfc solid; }
#navigation .navbar-inner .container ul li.active a { color: white; background: #303030; border-bottom: 2px #359bfc solid; }
#navigation .navbar-inner .container ul .divider-vertical { height: 100%; border-left: 1px black solid; border-right: 1px #535353 solid; }

/* Search -------------------------------------------------- */
#searchbar { background: #f3f3f3; border-bottom: 1px solid #d8d8d8; }
#searchbar .search { margin-top: -10px; }
#searchbar .search label { display: none; }
#searchbar .search form { margin-bottom: 10px; }
#searchbar .search .mglass { position: relative; margin-bottom: -62px; margin-left: 5px; margin-top: 0px; }
#searchbar .search fieldset { width: 85%; display: inline-block; }
#searchbar .search #Search { display: inline-block; width: 80%; margin-right: 0px; }
#searchbar .search #Search input { width: 90%; height: 35px; border: none; box-shadow: 0px 2px 2px #e0e0e0 inset; padding-left: 40px; }
#searchbar .search #Search ::-webkit-input-placeholder { color: #535353; }
#searchbar .search #Search :-moz-placeholder { color: #535353; }
#searchbar .search #Search ::-moz-placeholder { color: #535353; }
#searchbar .search #Search :-ms-input-placeholder { color: #535353; }
#searchbar .search #CustomSearchForm_CustomSearchForm_action_customResults { display: inline-block; width: 77px; height: 43px; padding: 5px 10px; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
#searchbar .logo { text-align: right; padding-top: 15px; }

/*Footer -------------------------------------------------- */
#footer { width: 100%; background: #696b6f; position: relative; }
#footer .container { padding: 30px 20px 70px 20px; padding-top: 30px; padding-bottom: 70px; }
#footer .container ul { list-style-type: none; margin: 0px; }
#footer .container ul li { padding: 3px; }
#footer .container ul li a { color: white; font-weight: 100; font-size: 13px; letter-spacing: 1px; text-shadow: 0px -2px 1px #303030; }
#footer .container ul li a:hover { text-decoration: none; color: #d8d8d8; }
#footer .container ul li .social { padding-right: 5px; }
#footer .container .logo { text-align: right; }
#footer .container .website span { margin-top: 0px; color: white; font-weight: 400; }
#footer .container .website a { color: white; font-weight: 100; letter-spacing: 1px; text-decoration: underline; }

/*HomePage -------------------------------------------------- */
#HomePage .content { padding-top: 50px; padding-bottom: 50px; }
#HomePage .content .text { color: #303030; font-size: 35px; line-height: 35px; }
#HomePage .twitter { margin-bottom: 50px; border: 1px solid #d8d8d8; }
#HomePage .speakers { padding-bottom: 50px; }
#HomePage .speakers .link { text-align: right; padding-top: 20px; text-decoration: underline; }
#HomePage .tags-wrap { margin-bottom: 40px; border: 1px #d8d8d8 solid; background: #f3f3f3; min-height: 100px; }
#HomePage .tags-wrap .tags { padding: 10px; }
#HomePage .tags-wrap .tags h5 { font-size: 16px; color: #303030; }
#HomePage .tags-wrap a { text-decoration: none; }

/*SessionsHolder -------------------------------------------------- */
#SessionsHolder { /*Search Bar Styling */ }
#SessionsHolder #filter-form { cursor: pointer; }
#SessionsHolder #tag-head { cursor: pointer; }
#SessionsHolder #wrap { background: #f3f3f3; }
#SessionsHolder .sessions { background: white; border: 1px #d8d8d8 solid; margin-left: 9px; padding-left: 20px; padding-right: 20px; background: white; border-top: 1px #d8d8d8 solid; padding-top: 30px; height: 100%; }
#SessionsHolder .sessions .heading { padding-left: 10px; }
#SessionsHolder .sessions .more { display: none; }
#SessionsHolder .sessions .more .button { text-align: center; }
#SessionsHolder .sessions .more .button a { width: 90px; }
#SessionsHolder .filter { padding-top: 20px; background: #f3f3f3; margin-left: -46%; padding-left: 46%; margin-right: -10%; }
#SessionsHolder .filter h5 { color: #359bfc; font-size: 15px; }
#SessionsHolder .filter form label { font-weight: bold; }
#SessionsHolder .filter form ul { list-style-type: none; margin-left: 0px; }
#SessionsHolder .filter form ul input { margin-top: 0px; }
#SessionsHolder .filter form ul label { font-weight: normal; display: inline-block; }
#SessionsHolder .filter form .Actions input { height: 43px; text-transform: uppercase; font-size: 12px; letter-spacing: 1px; }
#SessionsHolder .tags { padding-bottom: 30px; }
#SessionsHolder #searchbar { border: none; }
#SessionsHolder #searchbar #Search input { width: 89%; }
#SessionsHolder #searchbar .mglass { margin-left: -5px; }
#SessionsHolder #searchbar form { margin-left: -10px; }
#SessionsHolder #searchbar .logo { margin-left: 5px; }
#SessionsHolder .pagination { display: none; text-align: center; }
#SessionsHolder .pagination .pages { border-radius: 0px; text-align: center; }
#SessionsHolder .pagination .pages a { border-radius: 0px; width: 20px; border-left-width: 1px; border-right-width: 0px; }
#SessionsHolder .pagination .pages a.active { background: #e0e0e0; }
#SessionsHolder .pagination .pages a.last { border-right-width: 1px; }

/*Sessions -------------------------------------------------- */
.sessions { padding-bottom: 50px; }
.sessions .link { text-align: right; padding-top: 10px; }
.sessions .link .btn { color: white; }
.sessions .session-tile { padding: 0px; padding-bottom: 0px; border: 1px solid #d8d8d8; margin-bottom: 20px; /*
		.no-vid{
			padding: 4px;
			img{
				width: 100%;
				
			}
			
		}*/ }
.sessions .session-tile .vidthumb { padding: 4px; height: 100%; }
.sessions .session-tile .vidthumb .thumb { position: relative; margin-top: -40px; top: 0px; }
.sessions .session-tile .vidthumb .icon { position: relative; z-index: 1; top: 0px; left: 10px; }
.sessions .session-tile .text-wrap { padding: 4px; margin: 5px; }
.sessions .session-tile .text-wrap .title { color: #303030; font-size: 14px; }
.sessions .session-tile .text-wrap p { padding: 0; margin: 0; }
.sessions .session-tile .text-wrap a { color: #42a1fc; }
.sessions .session-tile .tags { font-size: 13px; background: #f3f3f3; padding: 7px; }

/* session controller --------------------------------------------------*/
#ses-wrap { padding-top: 30px; }
#ses-wrap .main div { padding-bottom: 20px; }
#ses-wrap .main h5 { font-size: 16px; }
#ses-wrap .main .content h5 { color: #359bfc; }
#ses-wrap .main p { padding-bottom: 10px; }
#ses-wrap .video { height: 300px; }
#ses-wrap .video embed { height: 100%; width: 100%; }
#ses-wrap .speaker .no-dec { text-decoration: none; color: #696b6f; }
#ses-wrap .session-side a { text-decoration: underline; }
#ses-wrap .session-side div { padding-bottom: 5px; }
#ses-wrap .view-count { padding: 15px 0 5px 0; background-color: #f3f3f3; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
#ses-wrap .view-count b { font-size: 1.5em; }

/* meetings holder -------------------------------------------------- */
#MeetingsHolder .promo { background: #f3f3f3; border: 1px solid #d8d8d8; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; margin-top: 30px; margin-bottom: 20px; }
#MeetingsHolder .promo .dark { background-color: #d8d8d8; }
#MeetingsHolder #meetings-wrap { padding-top: 30px; padding-bottom: 100px; }
#MeetingsHolder #meetings-wrap .first { margin-left: 0px; }
#MeetingsHolder #meetings-wrap .span3 { margin-bottom: 30px; }
#MeetingsHolder #meetings-wrap a .text-wrap { padding: 10px; }
#MeetingsHolder #meetings-wrap a .text-wrap h4 { color: black; }
#MeetingsHolder #meetings-wrap a:hover { text-decoration: none; }

/* meeting -------------------------------------------------- */
#MeetingController h5 { font-size: 16px; color: #303030; }
#MeetingController .header { padding-top: 30px; padding-bottom: 10px; margin-bottom: 10px; }
#MeetingController .tags-wrap { margin-bottom: 0px; border: 1px #d8d8d8 solid; border-bottom: none; background: #f3f3f3; min-height: 100px; }
#MeetingController .tags-wrap .tags { padding: 10px; }
#MeetingController .tags-wrap a { text-decoration: none; }
#MeetingController .ses { padding-top: 10px; }
#MeetingController .links { margin-bottom: 10px; border: 1px #d8d8d8 solid; }
#MeetingController .links .section { padding: 10px; height: 95px; margin-left: 10px; }
#MeetingController .links .right-divide { border-right: 1px #d8d8d8 solid; }
#MeetingController .links a { text-decoration: underline; }
#MeetingController #speakers-wrap .thumbnail > img { margin-left: 0; margin-right: 0; }

/* thumbnails -------------------------------------------------- */
.thumbnails { margin-left: 0px; }

.thumbnail { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; text-decoration: none; min-height: 120px; }

/* Search Results */
.searchResults .results { border-bottom: 1px solid #e0e0e0; margin-bottom: 10px; padding-bottom: 10px; }
.searchResults .results h3 { padding-bottom: 10px; }
.searchResults .results ul { list-style-type: none; }
.searchResults .results ul li { margin-bottom: 10px; margin-right: 20px; padding-bottom: 5px; border-bottom: 1px solid #e0e0e0; }
.searchResults .results ul li a { font-size: 16px; }

/*Responsiveness -------------------------------------------------- */
@media (min-width: 1200px) { #ses-wrap .session-tile .vidthumb { width: 49%; display: inline-block; vertical-align: top; }
  #ses-wrap .session-tile .text-wrap { height: 3; width: 40%; display: inline-block; }
  #SessionsHolder #searchbar { border: none; }
  #SessionsHolder #searchbar .search .mglass { margin-left: -15px; }
  #SessionsHolder #searchbar .search form { margin-left: -20px; }
  #SessionsHolder #searchbar .logo { margin-left: 5px; } }
@media (max-width: 767px) { body { padding: 0px; }
  body #wrap { padding-left: 20px; padding-right: 20px; }
  #footer .container { padding-left: 20px; padding-right: 20px; }
  #navigation .navbar-inner .container .btn-navbar { margin-top: 10px; }
  #navigation .navbar-inner .container .social-icons { display: none !important; }
  #SessionsHolder #filter-form { cursor: pointer; }
  #SessionsHolder #filter-form:hover { text-decoration: underline; }
  #SessionsHolder #tag-head { cursor: pointer; }
  #SessionsHolder #tag-head:hover { text-decoration: underline; }
  #SessionsHolder #Form_FilterForm { display: none; }
  #SessionsHolder #tag-list { display: none; }
  #SessionsHolder #searchbar { padding-left: 10px; }
  #SessionsHolder #searchbar .search .mglass { margin-left: 15px; }
  #SessionsHolder #searchbar .search fieldset { width: 100%; }
  #SessionsHolder #searchbar .search #Search { padding-left: 20px; width: 60%; }
  #SessionsHolder #searchbar .search #Search input { width: 60%; }
  #SessionsHolder .filter { width: 100%; }
  #SessionsHolder .sessions { margin-left: 0px; padding-left: 5px; padding-right: 5px; padding-top: 10px; }
  #HomePage h3 { font-size: 20px; }
  #HomePage .content { padding-bottom: 10px; }
  #HomePage .content .span1 { padding-bottom: 10px; }
  #HomePage .content .text { font-size: 18px; }
  #HomePage .sessions .heading div { width: 100%; display: inline-block; }
  #HomePage .sessions .heading div.link { text-align: left; }
  /* Mozilla specific */
  @-moz-document url-prefix() { #searchbar .search .mglass { margin-left: -140px !important; }
    #SessionsHolder #searchbar .search .mglass { margin-left: -150px !important; } }
  #searchbar { margin-left: -20px; margin-right: -20px; }
  #searchbar .logo { display: none; }
  #searchbar .search fieldset { width: 100%; }
  #searchbar .search .mglass { margin-left: 25px; }
  #searchbar .search #Search { padding-left: 20px; width: 60%; }
  #searchbar .search #Search input { width: 60%; }
  #SessionController .btn { margin-bottom: 10px; }
  #SessionController .social-icons { text-align: center; }
  #SessionController .social-icons .span3 { display: inline-block; width: 20%; margin-left: 2%; margin-right: 2%; }
  #SessionController .social-icons .view { margin-top: 3px; vertical-align: top; }
  #SessionController .social-icons .view .view-count { padding-top: 25px; width: 65px; margin-top: 0px; }
  #SessionController .social-icons .view .view-count p { margin-top: -10px; }
  #MeetingController .section { padding: 0px !important; margin-left: 0px !important; }
  #MeetingController .right-divide { padding-left: 10px !important; border-right: 1px #d8d8d8 solid; }
  #MeetingController .social { text-align: center; }
  #MeetingController .social .span4 { display: inline-block; width: 30%; }
  .sessions .heading div { width: 100%; display: inline-block; }
  .sessions .heading div.link { text-align: left; }
  .sessions .session-tile .vidthumb { width: 49%; display: inline-block; vertical-align: top; }
  .sessions .session-tile .text-wrap { height: 3; width: 40%; display: inline-block; } }
@media (min-width: 768px) and (max-width: 979px) { #HomePage .content .span1 { padding-top: 30px; }
  #HomePage .content .text { padding: 10px; }
  #SessionsHolder #Form_FilterForm select { width: 75%; }
  #SessionsHolder #Form_FilterForm #Form_FilterForm_Speaker { width: 75%; }
  #navigation .navbar-inner .container .btn-navbar { margin-top: 10px; }
  #navigation .navbar-inner .container .social-icons { display: none !important; }
  #searchbar .search fieldset { width: 100%; }
  #searchbar .search fieldset #Search { display: inline-block; width: 80%; }
  #searchbar .search fieldset #Search input { width: 85%; }
  #SessionController .social-icons .span3 { width: 45%; margin-left: 2.5%; margin-right: 2.5%; padding-bottom: 10px; }
  #SessionController .social-icons .span3 .view-count { width: 65px; }
  #meetings-wrap .span3 { height: 275px; }
  #MeetingController .section { padding: 0px !important; height: 95px; margin-left: 0px !important; }
  #MeetingController .section .social { width: 200px; text-align: center; padding-top: 8px; padding-left: 6px; }
  #MeetingController .section .social .span4 { margin-right: 18px; display: inline-block; width: 20%; }
  #MeetingController .right-divide { padding-left: 10px !important; border-right: 1px #d8d8d8 solid; } }
